<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>{% block title %}{% endblock %}</title>
    <link type="text/css" rel="stylesheet" href="/static/bootstrap/css/bootstrap.css"/>
    <link type="text/css" rel="stylesheet" href="/static/udefine/css/udefine.css"/>
    <script src="/static/bootstrap/js/bootstrap.js"></script>
    <script src="/static/jquery/jquery.js"></script>
</head>
<body>
    {% include "includes/nav.html" %}
<!--
<div>
  <h1>My helpful timestamp site</h1>
    {% block content %}{% endblock %}
    {% block footer %}
  <hr>
  <p>Thanks for visiting my site.</p>
  {% endblock %}
</div>
-->
</body>
</html>
